@model IEnumerable<MyWebSite.ViewModels.ProjectViewModel>


@{
    ViewData["Title"] = "Project";
}


<div class="backgroundWhiteBorder">

    <h4>List of Projects
      <a asp-action="Create"> 
        <span><i class="fas fa-plus-circle"></i></span>
      </a>
      
    </h4>

    <table class="table table-hover mt-4">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Created)</th>
                <th>@Html.DisplayNameFor(m => m.IsActive)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="~/images/@item.MainImage" alt="@item.Name" style="width:70px; height:100px;" />
                </td>
                <td>@item.Name</td>
                <td>@item.Created.ToString("D")</td>
                <td>@item.IsActive</td>
                <td class="text-right">
                    <a  asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><span><i class="fas fa-pen"></i></span></a>
                    <a  asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id" title="Details"><spn><i class="fas fa-info-circle" style="color:#6c757d;"></i></spn> </a>
                    <a  asp-controller="Projects" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><span><i class="fas fa-minus-circle"></i></span></a>
                    <a  asp-controller="Projects" asp-action="Images" asp-route-id="@item.Id" title="Images"><span><i class="fas fa-images"></i></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>