@model IEnumerable<MyWebSite.ViewModels.ProjectImageViewModel>


<table class="table table-hover mt-4">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(m => m.ImageName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ImageName</td>
                <td>
                    <img src="~/images/@item.Image" alt="@item.Image" style="width:70px; height:100px;" />
                </td>
                 <td class="text-right">
                    <a asp-controller="ProjectImages" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><span><i class="fas fa-pen"></i></span></a>
                    <a asp-controller="ProjectImages" asp-action="Details" asp-route-id="@item.Id" title="Details"><spn><i class="fas fa-info-circle" style="color:#6c757d;"></i></spn> </a>
                    <a asp-controller="ProjectImages" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><span><i class="fas fa-minus-circle"></i></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>